.necklacePage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-left: 10px;
    }
  }
}

.headline {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 48px;
  padding-left: 28px;
  padding-right: 28px;
}

.gridItem {
  text-align: center;
  //padding-bottom: 32px;
  vertical-align: top;
}